.main-window {
    -fx-background-image: url('/com/codecool/dungeoncrawl/img/game-view.jpg');
}

.pickup-button {
}
.healthBar .bar{
    -fx-background-color: red;
}
.manaBar .bar{
    -fx-background-color: blue;
}
.experienceBar .bar{
    -fx-background-color: #ff00f2;
}
.damageIcon{
    -fx-image:  url('/com/codecool/dungeoncrawl/img/damage-icon.png');
}
.apIcon{
    -fx-image:  url('/com/codecool/dungeoncrawl/img/wang-icon.png');
}
.bpIcon{
    -fx-image:  url('/com/codecool/dungeoncrawl/img/shield-icon.png');
}
.label{
    -fx-text-fill: white;
    -fx-color-label-visible: white;
}

.table-view{
    -fx-background-color: grey;
}

.table-view .label {
    -fx-background-color: DimGray;
}

.table-view .list-cell {
    -fx-background-color: DimGray;
}

.table-view .list-view {
    -fx-background-color: DimGray;
}

.table-view .cell {
    -fx-background-color: DimGray;
}

#itemName, #itemDescription, #itemValue {
    -fx-background-color: DimGray;
}


.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}

#showInventoryBtn, #itemSword, #itemArmor, #itemHelmet, #itemShield {
    -fx-background-color: transparent;
}
.saves{
    -fx-text-alignment: center;
}

